<tr>
    <td class="">{{@index}}</td>
    <td class="">{{product}}</td>
    <td class="description">{{description}}</td>
    <td class="">{{price}}</td>
    <td>
        <a href='#/offer/details/{{_id}}' class="btn-primary btn">Order details</a>
    </td>
    <td>
        {{#if isCreator}}
        <a href='#/offer/delete/{{_id}}' class="btn-danger btn">Delete</a>
        <a href='#/offer/edit/{{_id}}' class="btn-info btn">Edit</a>
        {{!-- <!--BONUS (Not-Required)--><a href="" class="btn-warning btn">Buy</a> --}}
        <!--BONUS (Not-Required)-->
        {{/if}}
    </td>
</tr>